<div class="container mt-5">
  <div class="d-flex justify-content-between">
    <span class="h3">Customer Listing Page</span>
    <button class="btn btn-primary" (click)="openModalFunction(customerModal, true)">Create new Customer</button>
  </div>
  <table class="table mt-5">
    <thead>
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Email</th>
        <th class="text-center">Created Date</th>
        <th class="text-center">Updated Date</th>
        <th class="text-center">Is Deleted ?</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customerList; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.email }}</td>
        <td class="text-center">{{ adjustDate(customer.createdDate) }}</td>
        <td class="text-center">{{ customer.updatedDate ? adjustDate(customer.updatedDate) : 'N/A' }}</td>
        <td class="text-center">
          <span class="badge" [ngClass]="customer.isDeleted ? 'bg-danger' : 'bg-success'">
            {{ !customer.isDeleted ? 'Active' : 'Inactive' }}
          </span>
        </td>
        <td class="text-center d-flex justify-content-around">
          <button class="btn btn-secondary" (click)="openModalFunction(customerModal, false, customer.customerGuid)">Details</button>
          <button *ngIf="!customer.isDeleted" class="btn btn-danger" (click)="deleteCustomerConfirmation(customer.customerGuid)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #customerModal let-modal>

  <div class="modal-header d-flex justify-content-between">
    <h5 class="modal-title">{{ modalTitle }}</h5>
    <button type="button" class="btn btn-danger" (click)="modal.dismiss()">
        <span>&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
      <div class="col-md-12">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input id="name" type="text" formControlName="name" class="form-control" [ngClass]="{'is-invalid': submitted && customerForm.controls.name.errors}">
          <div *ngIf="submitted && customerForm.controls.name.errors" class="invalid-feedback">
            <div *ngIf="customerForm.controls.name.errors.required">Name is required</div>
            <div *ngIf="customerForm.controls.name.errors.maxlength">Name cannot exceed 50 characters</div>
          </div>
        </div>
  
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input id="email" type="email" formControlName="email" class="form-control" [ngClass]="{'is-invalid': submitted && customerForm.controls.email.errors}">
          <div *ngIf="submitted && customerForm.controls.email.errors" class="invalid-feedback">
            <div *ngIf="customerForm.controls.email.errors.required">Email is required</div>
            <div *ngIf="customerForm.controls.email.errors.email">Email must be a valid email address</div>
          </div>
        </div>
      </div>

      <div class="d-flex align-items-center justify-content-end">
        <button type="button" class="btn btn-secondary me-4" (click)="modal.close()">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>

    </form>
  </div>
</ng-template>